#root {
  margin: 0 0 auto;
}
.avatar {
	border-radius: 50%;
  height: 40px;
  width: 40px;
}
.header {
  display: flex;
  padding: 5px 15px;
  background-color: orange;
}
.nav-header{
  min-width: 250px;
  max-width: 500px;
  width: 35vw;
  border-right: solid 1px;
}
.chat-header{
  width: 100vw;
  margin:0 15px
}
.nav-main{
  min-width: 250px;
  max-width: 500px;
  width: 100vw;
  margin: 15px 0px 15px 5px;
  padding: 5px;
  width: 35vw;
  border-right: solid thin;
  overflow-y: scroll;
  overflow: scroll;
}
.card{
  min-width: 250px;
  max-width: 500px;
  width: 35vw;
  display: flex;
  border-top: solid thin;
}
.card-avatar{
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

