body,html{
  overflow-y: hidden;
  overflow-x: scroll;
}
.nav-view{
  display: flex;
  flex-direction: column;
  border-right: solid thin;
  height: 100vh;
}
.nav-main{
  overflow-y: scroll;
}
.chat-view{
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.chat-main{
  overflow-y: scroll;
}
.header{
  background-color: grey;
  top: 0;
}
.input-field{
  bottom:0
}

